.liked-posts {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.liked-posts h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.liked-posts ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.liked-posts li {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.categories {
    padding: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.categories h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.categories ul {
    list-style-type: none;
    padding: 0;
}

.categories li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.categories li:last-child {
    border-bottom: none;
}

.categories li p {
    margin: 0;
}

@media (max-width: 600px) {
    .liked-posts ul {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}